<ul class="locations">
  <% @locations.each do |location| %>
    <li data-id="<%= location.id %>">
      <p><%= location.name %></p>
      <p>
        <%= location.street_line_1 %><br>
        <%= location.street_line_2 %><br>
        <%= location.city %>, <%= location.state %> <%= location.postal_code %>
      </p>
    </li>
  <% end %>
</ul>
