<%= form_for :search, method: :get, url: root_path do |form| %>
  <%= form.label :value, 'Search by Location' %>
  <%= form.text_field :value, placeholder: @current_location_by_ip %>
  <%= form.submit 'Search' %>
<% end %>

<div id="map"></div>

<ul class="locations">
  <% @locations.each do |location| %>
    <%= render location %>
  <% end %>
</ul>

<% content_for :javascript do %>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

  <%= javascript_tag do %>
    $(function() {
      var mapper = new ExampleApp.Mapper('#map');

      $('[data-latitude]').each(function(index, element) {
        mapper.addCoordinates($(element).attr('data-latitude'), $(element).attr('data-longitude'));
      });

      mapper.render();
    });
  <% end %>
<% end %>
